<div class="container">  
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h1 class="h6">
        All boards
      </h1>

      <div>
        <div>
          <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#form_modal">
            Add a new board
          </button>

          <div class="modal fade" id="form_modal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="/insert_board" method="post">
                    <div>
                      <label for="name_box">
                        Name
                      </label>

                      <input type="text" id="name_box" name="query_name">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


        <ul class="list-group list-group-flush">
          <% @list_of_boards.each do |a_board| %>
            <a href="/boards/<%= a_board.id %>" class="list-group-item d-flex justify-content-between align-items-center">
              <%= a_board.name %>
              <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg>
            </a>
          <% end %>
        </ul>
      
    </div>
  </div>
</div>
